## 참조 
- https://teddylee777.github.io/scikit-learn/train-test-split
- 인프런 파이썬 머신러닝 완벽 가이드

# 목표 ( 고객이 만족했는지 안 했는지 predict하기)
- target '0' 이 만족한 것 
- target '1' 이 불만족한 것

In [136]:
import pandas as pd
import numpy as np 

df = pd.read_csv("C:\\LECTRUE\\Kaggle_Data\\Santa_train.csv")
df

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000,0
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000,0
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000,0
3,8,2,37,0.0,195.0,195.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000,0
4,10,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76015,151829,2,48,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,60926.490000,0
76016,151830,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,118634.520000,0
76017,151835,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,74028.150000,0
76018,151836,2,25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,84278.160000,0
76019,151838,2,46,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0

In [137]:
df.shape

(76020, 371)

In [138]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76020 entries, 0 to 76019
Columns: 371 entries, ID to TARGET
dtypes: float64(111), int64(260)
memory usage: 215.2 MB

In [139]:
features= df.iloc[:,:-1]
features

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var29_ult3,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000
3,8,2,37,0.0,195.0,195.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000
4,10,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76015,151829,2,48,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,60926.490000
76016,151830,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,118634.520000
76017,151835,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,74028.150000
76018,151836,2,25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,84278.160000
76019,151838,2,46,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016

In [140]:
features.drop("ID", axis = 1, inplace = True)

In [141]:
features

,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,imp_op_var40_ult1,...,saldo_medio_var29_ult3,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38
0,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000
1,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000
2,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000
3,2,37,0.0,195.0,195.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000
4,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76015,2,48,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,60926.490000
76016,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,118634.520000
76017,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,74028.150000
76018,2,25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,84278.160000
76019,2,46,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016

In [142]:
target = df.iloc[:,-1]
target

0        0
1        0
2        0
3        0
4        0
        ..
76015    0
76016    0
76017    0
76018    0
76019    0
Name: TARGET, Length: 76020, dtype: int64

In [143]:
target.value_counts()
# 만족이 73012, 불만족이 3008

0    73012
1     3008
Name: TARGET, dtype: int64

In [144]:
total  = target.count()

unstaisfied = df[df["TARGET"] == 1].TARGET.count()

print("unsatisfied 비율은?! {0:.2f}".format(unsatisfied /total))

unsatisfied 비율은?! 0.04

In [145]:
features.describe()

,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,imp_op_var40_ult1,...,saldo_medio_var29_ult3,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38
count,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,...,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,7.602000e+04
mean,-1523.199277,33.212865,86.208265,72.363067,119.529632,3.559130,6.472698,0.412946,0.567352,3.160715,...,0.186630,7.935824,1.365146,12.215580,8.784074,31.505324,1.858575,76.026165,56.614351,1.172358e+05
std,39033.462364,12.956486,1614.757313,339.315831,546.266294,93.155749,153.737066,30.604864,36.513513,95.268204,...,31.879418,455.887218,113.959637,783.207399,538.439211,2013.125393,147.786584,4040.337842,2852.579397,1.826646e+05
min,-999999.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.163750e+03
25%,2.000000,23.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.787061e+04
50%,2.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.064092e+05
75%,2.000000,40.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.187563e+05
max,238.000000,105.000000,210000.000000,12888.030000,21024.810000,8237.820000,11073.570000,6600.000000,6600.000000,8237.820000,...,7331.340000,50003.880000,20385.720000,138831.630000,91778.730000,438329.220000,24650.010000,681462.900000,397884.300000,2.203474e+07

In [146]:
features["var3"].value_counts()

 2         74165
 8           138
-999999      116
 9           110
 3           108
           ...
 177           1
 87            1
 151           1
 215           1
 191           1
Name: var3, Length: 208, dtype: int64

In [147]:
features.var3.dtypes

dtype('int64')

In [148]:
# -99999 replace it with most common value 

# df["var3"].mode()
num = features["var3"].value_counts().idxmax()
features["var3"].replace(-999999, num, inplace = True )

In [149]:
features["var3"].value_counts()

2      74281
8        138
9        110
3        108
1        105
       ...
177        1
87         1
151        1
215        1
191        1
Name: var3, Length: 207, dtype: int64

In [150]:
features

,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,imp_op_var40_ult1,...,saldo_medio_var29_ult3,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38
0,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000
1,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000
2,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000
3,2,37,0.0,195.0,195.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000
4,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76015,2,48,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,60926.490000
76016,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,118634.520000
76017,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,74028.150000
76018,2,25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,84278.160000
76019,2,46,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016

In [151]:
print("피처 데이터는:{0}".format(features.shape))

피처 데이터는:(76020, 369)

# train, test 셋 나누기


x_train, x_valid, y_train, y_valid = train_test_split(data, target, test_size=0.2, shuffle=True, stratify=target, random_state=34)

1. test_size - 0.2는 전체 데이터 셋의 20%를 test (validation) 셋으로 지정.default는 0.25

2. shuffle -  split을 해주기 이전에 섞을건지 여부, default = True

3. stratify - classification을 다룰 때 매우 중요. stratify 값을 target으로 지정해주면 각각의 class 비율(ratio)을 train / validation에 유지
즉, 한 쪽에 쏠려서 분배되는 것을 방지

4. random_state - 이 값을 고정해두고 튜닝해야 매번 데이터셋이 변경되는 것을 방지

In [152]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(features, target, 
                                                    test_size=0.3, 
                                                    random_state=0, stratify = target)

In [153]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(53214, 369)
(22806, 369)
(53214,)
(22806,)

In [154]:
X_train

,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,imp_op_var40_ult1,...,saldo_medio_var29_ult3,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38
75912,2,31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,404601.600000
50912,44,68,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,79510.200000
2381,2,28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,48315.630000
2734,2,35,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,189346.050000
38552,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,342108.630000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61660,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,48888.000000
18800,2,36,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,55244.850000
33109,2,41,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,75404.010000
51120,2,31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016
73055,2,37,12600.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016

In [155]:
X_test

,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,imp_op_var40_ult1,...,saldo_medio_var29_ult3,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38
58716,2,23,0.0,0.00,0.00,0.00,0.00,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,82006.470000
22175,13,59,0.0,575.13,4260.03,330.00,330.00,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,154817.100000
8220,2,49,0.0,0.00,0.00,0.00,0.00,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,129843.300000
71979,2,29,0.0,0.00,0.00,0.00,0.00,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,101271.420000
54936,2,49,1080.0,1081.35,1081.35,0.00,0.00,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72391,2,28,675.0,2037.48,3195.12,0.00,0.00,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,141342.390000
58005,2,32,0.0,0.00,0.00,0.00,0.00,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,109078.740000
74817,54,48,0.0,2856.00,8157.99,714.09,924.06,0.0,0.0,924.06,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,180731.820000
41300,2,25,0.0,0.00,0.00,0.00,0.00,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,82952.730000
13238,2,23,0.0,0.00,0.00,0.00,0.00,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,76672.170000

In [156]:
y_train

75912    0
50912    0
2381     0
2734     0
38552    0
        ..
61660    0
18800    0
33109    0
51120    0
73055    0
Name: TARGET, Length: 53214, dtype: int64

In [157]:
y_test

58716    0
22175    0
8220     0
71979    0
54936    0
        ..
72391    0
58005    0
74817    0
41300    0
13238    0
Name: TARGET, Length: 22806, dtype: int64

In [158]:
print(y_train.count())
print("")
print(y_train.value_counts())

53214

0    51108
1     2106
Name: TARGET, dtype: int64

In [159]:
print(' 학습 세트 레이블 값 분포 비율')
y_train.value_counts() / y_train.count()

# 0이 96 percent 1이 4percent

 학습 세트 레이블 값 분포 비율

0    0.960424
1    0.039576
Name: TARGET, dtype: float64

# XGBoost 모델 학습과 하이퍼 파라미터 튜닝

# XGBoost 란?!?!

- Extreme Gradient Boosting의 약자
- 여러 개의 약한 의사결정나무(Decision Tree)를 조합해서 사용하는 앙상블(Ensemble) 기법
- Regression, Classification 문제를 모두 지원

## 장점?!
- 과적합 규제(Regularization)
- Missing Values : 결측치를 내부적으로 처리
- CART(Classification and regression tree) 앙상블 모델 

## parameter
- n_estimators = The number of trees (or rounds), default = 100 
- learning - rate =  how fast the model learns.

In [160]:
from xgboost import XGBClassifier
xgb_clf = XGBClassifier(n_estimators=500, learning_rate=0.05, random_state=100)

# 성능 평가 지표를 auc로, 조기 중단 파라미터는 100으로 설정하고 학습 수행. 
xgb_clf.fit(X_train, y_train, early_stopping_rounds=100, eval_metric='auc', eval_set=[(X_train, y_train), (X_test, y_test)])

C:\Users\Playdata\anaconda3\envs\env01\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[0]	validation_0-auc:0.82377	validation_1-auc:0.80370
[1]	validation_0-auc:0.82705	validation_1-auc:0.80558
[2]	validation_0-auc:0.82743	validation_1-auc:0.80587
[3]	validation_0-auc:0.83498	validation_1-auc:0.81258
[4]	validation_0-auc:0.83778	validation_1-auc:0.81581
[5]	validation_0-auc:0.83974	validation_1-auc:0.81874
[6]	validation_0-auc:0.84041	validation_1-auc:0.81884
[7]	validation_0-auc:0.84094	validation_1-auc:0.81905
[8]	validation_0-auc:0.84132	validation_1-auc:0.82037
[9]	validation_0-auc:0.84134	validation_1-auc:0.82034
[10]	validation_0-auc:0.84287	validation_1-auc:0.82149
[11]	validation_0-auc:0.84365	validation_1-auc:0.82126
[12]	validation_0-auc:0.84495	validation_1-auc:0.82195
[13]	validation_0-auc:0.84566	validation_1-auc:0.82223
[14]	validation_0-auc:0.84765	validation_1-auc:0.82399
[15]	validation_0-auc:0.84744	validation_1-auc:0.82336
[16]	validation_0-auc:0.84749	validation_1-auc:0.82346
[17]	validation_0-auc:0.84883	validation_1-auc:0.82481
[18]	validation_0-auc:0.84934	validation_1-auc:0.82492
[19]	validation_0-auc:0.85000	validation_1-auc:0.82526
[20]	validation_0-auc:0.85011	validation_1-auc:0.82559
[21]	validation_0-auc:0.85060	validation_1-auc:0.82548
[22]	validation_0-auc:0.85088	validation_1-auc:0.82547
[23]	validation_0-auc:0.85261	validation_1-auc:0.82716
[24]	validation_0-auc:0.85293	validation_1-auc:0.82766
[25]	validation_0-auc:0.85338	validation_1-auc:0.82817
[26]	validation_0-auc:0.85382	validation_1-auc:0.82793
[27]	validation_0-auc:0.85407	validation_1-auc:0.82830
[28]	validation_0-auc:0.85441	validation_1-auc:0.82830
[29]	validation_0-auc:0.85512	validation_1-auc:0.82884
[30]	validation_0-auc:0.85536	validation_1-auc:0.82921
[31]	validation_0-auc:0.85552	validation_1-auc:0.82904
[32]	validation_0-auc:0.85605	validation_1-auc:0.82894
[33]	validation_0-auc:0.85640	validation_1-auc:0.82892
[34]	validation_0-auc:0.85720	validation_1-auc:0.82934
[35]	validation_0-auc:0.85735	validation_1-auc:0.82921
[36]	validation_0-auc:0.85772	validation_1-auc:0.82927
[37]	validation_0-auc:0.85823	validation_1-auc:0.82919
[38]	validation_0-auc:0.85832	validation_1-auc:0.82962
[39]	validation_0-auc:0.85978	validation_1-auc:0.83034
[40]	validation_0-auc:0.86079	validation_1-auc:0.83058
[41]	validation_0-auc:0.86157	validation_1-auc:0.83065
[42]	validation_0-auc:0.86218	validation_1-auc:0.83112
[43]	validation_0-auc:0.86271	validation_1-auc:0.83081
[44]	validation_0-auc:0.86332	validation_1-auc:0.83103
[45]	validation_0-auc:0.86403	validation_1-auc:0.83108
[46]	validation_0-auc:0.86461	validation_1-auc:0.83131
[47]	validation_0-auc:0.86545	validation_1-auc:0.83167
[48]	validation_0-auc:0.86605	validation_1-auc:0.83179
[49]	validation_0-auc:0.86694	validation_1-auc:0.83218
[50]	validation_0-auc:0.86745	validation_1-auc:0.83212
[51]	validation_0-auc:0.86781	validation_1-auc:0.83208
[52]	validation_0-auc:0.86833	validation_1-auc:0.83203
[53]	validation_0-auc:0.86890	validation_1-auc:0.83212
[54]	validation_0-auc:0.86949	validation_1-auc:0.83203
[55]	validation_0-auc:0.86996	validation_1-auc:0.83216
[56]	validation_0-auc:0.87069	validation_1-auc:0.83204
[57]	validation_0-auc:0.87114	validation_1-auc:0.83234
[58]	validation_0-auc:0.87182	validation_1-auc:0.83261
[59]	validation_0-auc:0.87267	validation_1-auc:0.83269
[60]	validation_0-auc:0.87316	validation_1-auc:0.83279
[61]	validation_0-auc:0.87357	validation_1-auc:0.83284
[62]	validation_0-auc:0.87393	validation_1-auc:0.83297
[63]	validation_0-auc:0.87431	validation_1-auc:0.83297
[64]	validation_0-auc:0.87470	validation_1-auc:0.83291
[65]	validation_0-auc:0.87509	validation_1-auc:0.83285
[66]	validation_0-auc:0.87552	validation_1-auc:0.83284
[67]	validation_0-auc:0.87619	validation_1-auc:0.83278
[68]	validation_0-auc:0.87681	validation_1-auc:0.83278
[69]	validation_0-auc:0.87724	validation_1-auc:0.83286
[70]	validation_0-auc:0.87767	validation_1-auc:0.83278
[71]	validation_0-auc:0.87822	validation_1-auc:0.83310
[72]	validation_0-auc:0.87874	validation_1-auc:0.83324
[73]	validation_0-auc:0.87928	validation_1-auc:0.83327
[74]	validation_0-auc:0.87974	validation_1-auc:0.83339
[75]	validation_0-auc:0.88013	validation_1-auc:0.83337
[76]	validation_0-auc:0.88046	validation_1-auc:0.83321
[77]	validation_0-auc:0.88090	validation_1-auc:0.83320
[78]	validation_0-auc:0.88141	validation_1-auc:0.83335
[79]	validation_0-auc:0.88199	validation_1-auc:0.83351
[80]	validation_0-auc:0.88235	validation_1-auc:0.83349
[81]	validation_0-auc:0.88289	validation_1-auc:0.83352
[82]	validation_0-auc:0.88324	validation_1-auc:0.83364
[83]	validation_0-auc:0.88371	validation_1-auc:0.83378
[84]	validation_0-auc:0.88410	validation_1-auc:0.83384
[85]	validation_0-auc:0.88452	validation_1-auc:0.83401
[86]	validation_0-auc:0.88480	validation_1-auc:0.83410
[87]	validation_0-auc:0.88515	validation_1-auc:0.83439
[88]	validation_0-auc:0.88544	validation_1-auc:0.83434
[89]	validation_0-auc:0.88579	validation_1-auc:0.83428
[90]	validation_0-auc:0.88635	validation_1-auc:0.83452
[91]	validation_0-auc:0.88665	validation_1-auc:0.83446
[92]	validation_0-auc:0.88704	validation_1-auc:0.83457
[93]	validation_0-auc:0.88745	validation_1-auc:0.83457
[94]	validation_0-auc:0.88774	validation_1-auc:0.83452
[95]	validation_0-auc:0.88810	validation_1-auc:0.83452
[96]	validation_0-auc:0.88863	validation_1-auc:0.83462
[97]	validation_0-auc:0.88895	validation_1-auc:0.83458
[98]	validation_0-auc:0.88933	validation_1-auc:0.83461
[99]	validation_0-auc:0.88977	validation_1-auc:0.83459
[100]	validation_0-auc:0.89018	validation_1-auc:0.83456
[101]	validation_0-auc:0.89044	validation_1-auc:0.83468
[102]	validation_0-auc:0.89069	validation_1-auc:0.83455
[103]	validation_0-auc:0.89107	validation_1-auc:0.83451
[104]	validation_0-auc:0.89130	validation_1-auc:0.83448
[105]	validation_0-auc:0.89158	validation_1-auc:0.83465
[106]	validation_0-auc:0.89200	validation_1-auc:0.83460
[107]	validation_0-auc:0.89217	validation_1-auc:0.83469
[108]	validation_0-auc:0.89247	validation_1-auc:0.83470
[109]	validation_0-auc:0.89282	validation_1-auc:0.83468
[110]	validation_0-auc:0.89308	validation_1-auc:0.83466
[111]	validation_0-auc:0.89333	validation_1-auc:0.83472
[112]	validation_0-auc:0.89355	validation_1-auc:0.83471
[113]	validation_0-auc:0.89375	validation_1-auc:0.83482
[114]	validation_0-auc:0.89404	validation_1-auc:0.83485
[115]	validation_0-auc:0.89431	validation_1-auc:0.83491
[116]	validation_0-auc:0.89460	validation_1-auc:0.83485
[117]	validation_0-auc:0.89487	validation_1-auc:0.83483
[118]	validation_0-auc:0.89512	validation_1-auc:0.83489
[119]	validation_0-auc:0.89532	validation_1-auc:0.83484
[120]	validation_0-auc:0.89551	validation_1-auc:0.83483
[121]	validation_0-auc:0.89579	validation_1-auc:0.83485
[122]	validation_0-auc:0.89602	validation_1-auc:0.83490
[123]	validation_0-auc:0.89617	validation_1-auc:0.83489
[124]	validation_0-auc:0.89629	validation_1-auc:0.83488
[125]	validation_0-auc:0.89648	validation_1-auc:0.83486
[126]	validation_0-auc:0.89655	validation_1-auc:0.83486
[127]	validation_0-auc:0.89658	validation_1-auc:0.83484
[128]	validation_0-auc:0.89680	validation_1-auc:0.83478
[129]	validation_0-auc:0.89707	validation_1-auc:0.83467
[130]	validation_0-auc:0.89722	validation_1-auc:0.83466
[131]	validation_0-auc:0.89736	validation_1-auc:0.83471
[132]	validation_0-auc:0.89743	validation_1-auc:0.83472
[133]	validation_0-auc:0.89752	validation_1-auc:0.83470
[134]	validation_0-auc:0.89765	validation_1-auc:0.83469
[135]	validation_0-auc:0.89767	validation_1-auc:0.83471
[136]	validation_0-auc:0.89775	validation_1-auc:0.83466
[137]	validation_0-auc:0.89784	validation_1-auc:0.83471
[138]	validation_0-auc:0.89793	validation_1-auc:0.83470
[139]	validation_0-auc:0.89808	validation_1-auc:0.83470
[140]	validation_0-auc:0.89828	validation_1-auc:0.83476
[141]	validation_0-auc:0.89857	validation_1-auc:0.83461
[142]	validation_0-auc:0.89867	validation_1-auc:0.83458
[143]	validation_0-auc:0.89873	validation_1-auc:0.83452
[144]	validation_0-auc:0.89882	validation_1-auc:0.83459
[145]	validation_0-auc:0.89887	validation_1-auc:0.83461
[146]	validation_0-auc:0.89895	validation_1-auc:0.83455
[147]	validation_0-auc:0.89926	validation_1-auc:0.83457
[148]	validation_0-auc:0.89965	validation_1-auc:0.83461
[149]	validation_0-auc:0.89991	validation_1-auc:0.83453
[150]	validation_0-auc:0.90001	validation_1-auc:0.83452
[151]	validation_0-auc:0.90014	validation_1-auc:0.83449
[152]	validation_0-auc:0.90024	validation_1-auc:0.83448
[153]	validation_0-auc:0.90028	validation_1-auc:0.83443
[154]	validation_0-auc:0.90055	validation_1-auc:0.83445
[155]	validation_0-auc:0.90068	validation_1-auc:0.83440
[156]	validation_0-auc:0.90074	validation_1-auc:0.83438
[157]	validation_0-auc:0.90078	validation_1-auc:0.83438
[158]	validation_0-auc:0.90120	validation_1-auc:0.83429
[159]	validation_0-auc:0.90126	validation_1-auc:0.83431
[160]	validation_0-auc:0.90142	validation_1-auc:0.83431
[161]	validation_0-auc:0.90147	validation_1-auc:0.83423
[162]	validation_0-auc:0.90159	validation_1-auc:0.83420
[163]	validation_0-auc:0.90180	validation_1-auc:0.83418
[164]	validation_0-auc:0.90182	validation_1-auc:0.83420
[165]	validation_0-auc:0.90190	validation_1-auc:0.83417
[166]	validation_0-auc:0.90210	validation_1-auc:0.83414
[167]	validation_0-auc:0.90212	validation_1-auc:0.83415
[168]	validation_0-auc:0.90219	validation_1-auc:0.83416
[169]	validation_0-auc:0.90247	validation_1-auc:0.83412
[170]	validation_0-auc:0.90257	validation_1-auc:0.83410
[171]	validation_0-auc:0.90270	validation_1-auc:0.83408
[172]	validation_0-auc:0.90289	validation_1-auc:0.83406
[173]	validation_0-auc:0.90292	validation_1-auc:0.83401
[174]	validation_0-auc:0.90297	validation_1-auc:0.83405
[175]	validation_0-auc:0.90304	validation_1-auc:0.83403
[176]	validation_0-auc:0.90317	validation_1-auc:0.83394
[177]	validation_0-auc:0.90353	validation_1-auc:0.83390
[178]	validation_0-auc:0.90360	validation_1-auc:0.83390
[179]	validation_0-auc:0.90371	validation_1-auc:0.83392
[180]	validation_0-auc:0.90388	validation_1-auc:0.83384
[181]	validation_0-auc:0.90393	validation_1-auc:0.83385
[182]	validation_0-auc:0.90421	validation_1-auc:0.83382
[183]	validation_0-auc:0.90428	validation_1-auc:0.83385
[184]	validation_0-auc:0.90432	validation_1-auc:0.83381
[185]	validation_0-auc:0.90471	validation_1-auc:0.83371
[186]	validation_0-auc:0.90489	validation_1-auc:0.83368
[187]	validation_0-auc:0.90498	validation_1-auc:0.83367
[188]	validation_0-auc:0.90502	validation_1-auc:0.83361
[189]	validation_0-auc:0.90509	validation_1-auc:0.83363
[190]	validation_0-auc:0.90523	validation_1-auc:0.83368
[191]	validation_0-auc:0.90526	validation_1-auc:0.83366
[192]	validation_0-auc:0.90528	validation_1-auc:0.83365
[193]	validation_0-auc:0.90544	validation_1-auc:0.83371
[194]	validation_0-auc:0.90568	validation_1-auc:0.83369
[195]	validation_0-auc:0.90577	validation_1-auc:0.83365
[196]	validation_0-auc:0.90579	validation_1-auc:0.83366
[197]	validation_0-auc:0.90592	validation_1-auc:0.83361
[198]	validation_0-auc:0.90599	validation_1-auc:0.83361
[199]	validation_0-auc:0.90604	validation_1-auc:0.83358
[200]	validation_0-auc:0.90621	validation_1-auc:0.83362
[201]	validation_0-auc:0.90634	validation_1-auc:0.83349
[202]	validation_0-auc:0.90636	validation_1-auc:0.83348
[203]	validation_0-auc:0.90647	validation_1-auc:0.83343
[204]	validation_0-auc:0.90647	validation_1-auc:0.83340
[205]	validation_0-auc:0.90667	validation_1-auc:0.83333
[206]	validation_0-auc:0.90670	validation_1-auc:0.83329
[207]	validation_0-auc:0.90687	validation_1-auc:0.83325
[208]	validation_0-auc:0.90712	validation_1-auc:0.83321
[209]	validation_0-auc:0.90714	validation_1-auc:0.83320
[210]	validation_0-auc:0.90725	validation_1-auc:0.83315
[211]	validation_0-auc:0.90737	validation_1-auc:0.83306
[212]	validation_0-auc:0.90770	validation_1-auc:0.83310
[213]	validation_0-auc:0.90775	validation_1-auc:0.83310
[214]	validation_0-auc:0.90784	validation_1-auc:0.83308

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
              gamma=0, gpu_id=-1, importance_type=None,
              interaction_constraints='', learning_rate=0.05, max_delta_step=0,
              max_depth=6, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=500, n_jobs=4,
              num_parallel_tree=1, predictor='auto', random_state=100,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

# predict_proba

In [167]:
pred = xgb_clf.predict_proba(X_test)
pred

array([[0.98812914, 0.01187088],
       [0.98155326, 0.01844675],
       [0.9961854 , 0.00381458],
       ...,
       [0.96746045, 0.03253956],
       [0.9506731 , 0.04932689],
       [0.99766207, 0.00233795]], dtype=float32)

In [168]:
pd.DataFrame(pred)  # 0일 확률... 1일 확률

              0         1
0      0.988129  0.011871
1      0.981553  0.018447
2      0.996185  0.003815
3      0.971142  0.028858
4      0.808011  0.191989
...         ...       ...
22801  0.952765  0.047235
22802  0.818856  0.181144
22803  0.967460  0.032540
22804  0.950673  0.049327
22805  0.997662  0.002338

[22806 rows x 2 columns]

# predict

In [170]:
pred2 = xgb_clf.predict(X_test)
pred2

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [171]:
pd.DataFrame(pred2)

       0
0      0
1      0
2      0
3      0
4      0
...   ..
22801  0
22802  0
22803  0
22804  0
22805  0

[22806 rows x 1 columns]

In [177]:
print(pred2.shape)
print(pred.shape)

(22806,)
(22806, 2)

In [ ]:
# 정확도 계산하기

In [178]:
roc_auc_score(y_test, pred2)

0.5004630162013155

In [179]:
# ValueError: y should be a 1d array, got an array of shape (22806, 2) instead.
# 왜냐하면 pred 는 2차우너이기 떄문에에
roc_auc_score(y_test, pred)

ValueError: y should be a 1d array, got an array of shape (22806, 2) instead.

In [180]:
xgb_clf.predict_proba(X_test)[:, 1]

array([0.01187088, 0.01844675, 0.00381458, ..., 0.03253956, 0.04932689,
       0.00233795], dtype=float32)

In [181]:
xgb_clf.predict_proba(X_test)[:, 0]

array([0.98812914, 0.98155326, 0.9961854 , ..., 0.96746045, 0.9506731 ,
       0.99766207], dtype=float32)

In [183]:
xgb_roc_score = roc_auc_score(y_test, xgb_clf.predict_proba(X_test)[:, 0])
xgb_roc_score

0.1650911647924667

In [184]:
xgb_roc_score = roc_auc_score(y_test, xgb_clf.predict_proba(X_test)[:, 1])
xgb_roc_score

0.8349086580587899

# Predict () predIct_proba ... 
-  predict method is used to predict the actual class 
- while predict_proba method can be used to infer the class probabilities

#  예측해보기

In [186]:
df2 = pd.read_csv("C:\\LECTRUE\\Kaggle_Data\\Santa_test.csv")
df2

# test 값을 가져와 0또는 1인지 확인하자

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var29_ult3,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38
0,2,2,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40532.100000
1,5,2,35,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,45486.720000
2,6,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,46993.950000
3,7,2,24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,187898.610000
4,9,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,73649.730000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75813,151831,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40243.200000
75814,151832,2,26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,146961.300000
75815,151833,2,24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,167299.770000
75816,151834,2,40,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016
75817,151837,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016

In [187]:
df2.describe()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var29_ult3,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38
count,75818.000000,75818.000000,75818.000000,75818.000000,75818.000000,75818.000000,75818.000000,75818.000000,75818.000000,75818.000000,...,75818.000000,75818.000000,75818.000000,75818.000000,75818.000000,75818.000000,75818.000000,75818.000000,75818.000000,7.581800e+04
mean,75874.830581,-1579.955011,33.138832,83.164329,74.312894,123.136448,4.578517,7.666855,0.470645,0.672444,...,0.160595,12.438559,1.327408,17.469991,12.674349,63.597839,11.404505,95.973025,70.504319,1.173863e+05
std,43882.370827,39752.473358,12.932000,1694.873886,364.211245,606.431562,133.383326,239.701416,34.028605,42.336668,...,32.441677,958.651673,170.449935,1252.618781,895.165516,3754.668953,1061.858193,4658.871575,3318.527783,2.479384e+05
min,2.000000,-999999.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,-0.600000,-0.600000,0.000000,0.000000,0.000000,0.000000,1.202730e+03
25%,37840.250000,2.000000,23.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.754961e+04
50%,75810.000000,2.000000,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.057643e+05
75%,113996.500000,2.000000,39.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.183159e+05
max,151837.000000,238.000000,105.000000,240000.000000,21093.960000,47943.960000,21093.960000,47943.960000,6600.000000,6600.000000,...,8030.160000,146605.320000,40080.600000,162355.800000,138054.960000,453893.400000,217762.230000,496198.080000,354260.730000,2.889440e+07

In [188]:
df2['var3'].value_counts()

 2         73962
-999999      120
 8           116
 9           108
 3           107
           ...
 179           1
 220           1
 127           1
 94            1
 191           1
Name: var3, Length: 199, dtype: int64

In [189]:
num = df2["var3"].value_counts().idxmax()
num

2

In [190]:
df2["var3"].replace(-999999, num, inplace = True)

In [191]:
df2["var3"].value_counts()

2      74082
8        116
9        108
13       107
3        107
       ...
226        1
99         1
37         1
101        1
220        1
Name: var3, Length: 198, dtype: int64

In [192]:
features2 = df2.iloc[:,1:]
features2

,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,imp_op_var40_ult1,...,saldo_medio_var29_ult3,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38
0,2,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40532.100000
1,2,35,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,45486.720000
2,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,46993.950000
3,2,24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,187898.610000
4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,73649.730000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75813,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40243.200000
75814,2,26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,146961.300000
75815,2,24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,167299.770000
75816,2,40,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016
75817,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016

In [193]:
features2.shape

(75818, 369)

In [195]:
result = xgb_clf.predict(features2)
result

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [196]:
result.shape

(75818,)

In [198]:
pd.DataFrame(result)

       0
0      0
1      0
2      0
3      0
4      0
...   ..
75813  0
75814  0
75815  0
75816  0
75817  0

[75818 rows x 1 columns]

In [199]:
pd.DataFrame(result).value_counts()

0    75801
1       17
dtype: int64

In [210]:
final = pd.DataFrame(df2["ID"])
final

           ID
0           2
1           5
2           6
3           7
4           9
...       ...
75813  151831
75814  151832
75815  151833
75816  151834
75817  151837

[75818 rows x 1 columns]

In [212]:
final["predic_result"] = pd.DataFrame(result)
final

           ID  predic_result
0           2              0
1           5              0
2           6              0
3           7              0
4           9              0
...       ...            ...
75813  151831              0
75814  151832              0
75815  151833              0
75816  151834              0
75817  151837              0

[75818 rows x 2 columns]